%center {
  display: flex;
  justify-content: center;
  align-items: center;
}

%verticalCenter {
  display: flex;
  align-items: center;
}

%horizontalCenter {
  display: flex;
  justify-content: center;
}

%goldGlassButton {
  position: relative;
  text-decoration: none;
  color: white;
  padding: 8px;
  background: linear-gradient(#740, gold);
  box-shadow: 0px 1px 4px -2px #333;
  text-shadow: 0px -1px #333;
  margin: 4px;
  border-radius: 3px;
  font-weight: 100;
  border: none;
  outline: none;
  &:hover {
    background: linear-gradient(#b40, orange);
  }
  &:after {
    content: '';
    position: absolute;
    top: 2px;
    left: 2px;
    width: calc(100% - 4px);
    height: 50%;
    background: linear-gradient(rgba(255, 255, 255, 0.8), rgba(255, 255, 255, 0.2));
  }
}
