$font-path: '../fonts';

//--- Audiowide
@font-face {
  font-family: 'Audiowide';
  src: url('/public/fonts/Audiowide/Audiowide-Regular.ttf') format('truetype');
}

//--- Roboto
@font-face {
  font-family: 'Roboto';
  src: url('/public/fonts/Roboto/Roboto-Regular.ttf') format('truetype');
}

//--- COLORS -----

$blackColor: #000;

//--- FONTS -----
$appFont: 'Roboto', sans-serif;
$titleFont: 'Audiowide';
