@import '../../../shared/commonStyles/placeholders.scss';

.resumeContainer {
  bottom: 0;
  width: 100%;
  min-height: 200px;
  margin-top: auto;
  background: linear-gradient(#161616c4, black);
  @extend %center;
  flex-direction: column;

  .resumeTitle {
    padding: 8px;
    color: #161616;
    background: white;
    display: inline-block;
    border-radius: 3px;
    margin: 16px;
  }
  .resumeButtons {
    display: flex;
    justify-content: center;
    a,
    button {
      @extend %goldGlassButton;
    }
  }
}
