.footer {
  padding: 32px 0 48px 0;
  background: #f0f8ff6b;
  box-shadow: 0 -5px 22px -5px #5e9fd86b;

  hr {
    border-color: #e2e2e247;
    margin: 48px;
  }
  .copyRight {
    color: rgb(89, 89, 89);
    font-size: 12px;
  }
  .social {
    svg {
      margin: 24px;
    }
  }
}
