@import '../../../shared/commonStyles/variables.scss';
@import '../../../shared/commonStyles/placeholders.scss';

.navigator {
  list-style: none;
  display: flex;
  margin: 0;
  font-family: $appFont;
  text-transform: uppercase;
  padding: 0;
  li {
    display: flex;
    align-items: center;
    @extend %verticalCenter;
    margin: 16px;
    border-bottom: 2px solid transparent;
    a {
      color: #1b1b1b;
      text-decoration: none;
      font-weight: 500;
      letter-spacing: 2px;
      &:hover {
        color: #c70000;
      }
    }
  }
}
.activeNavItem {
  border-bottom: 2px solid #c70000;
}
