@import '../../../shared/commonStyles/variables.scss';

.headerContainer {
  min-height: 80px;
  box-shadow: 0 -5px 22px -5px #1a7dd4d4;
  display: flex;
  justify-content: space-between;
  .owner {
    display: flex;
    align-items: center;
    padding: 8px;
    min-width: 140px;
    a {
      text-decoration: none;
      color: #c70000;
      text-transform: uppercase;
      font-family: $titleFont;
    }
  }
  .social {
    @media screen and (max-width: 560px) {
      display: none;
    }
    svg {
      height: 20px;
      width: 20px;
    }
  }
}
